<header>
    <img class="logoArgPrograma" src="https://cdn.discordapp.com/attachments/657771703618895892/1005180953443962900/argprog_logo.png" alt="logo de Argentina Programa">
  
    <button class="btn btn-primary botonLogin"alt="boton de Log in">Sign in</button>
  
    <img class="logoLinkedIn" src="https://cdn.discordapp.com/attachments/657771703618895892/1005217722927419432/linkedin_logo.png" alt="logo de LinkedIn">
    <img class="logoFacebook" src="https://cdn.discordapp.com/attachments/657771703618895892/1005215704196329532/facebook_logo.png" alt="logo de Facebook">
  </header>